extends layout

block content

  h1.heading-section-title #{user.firstName}'s Basket

  //- coffee name, grind type, bag size, quantity, price, remove
  .container
    table.table.u-marbo-sm
      thead
        tr.table__row
          th.table__heading Item
          th.table__heading Grind
          th.table__heading Size
          th.table__heading Quantity
          th.table__heading Price
          th.table__heading Remove
      tbody
        each order in orders
          tr.table__row
            td.table__item #{order.item.itemName}
            td.table__item #{order.item.grindType}
            td.table__item #{order.item.bagSize}
            td.table__item #{order.item.qty}
            td.table__item TBA
            td.table__item X

  .container
    .basket__options.u-marbo-lg
      .basket__total
        p.basket__basket-total Basket Total:
        p.basket__price £31.80
      .basket__checkout
        a.btn.btn--inverted(href="#") Check out now

  .container
    #{productInfo}