extends layout

block content

  section.section-hero

    h1.heading-primary Welcome to Cheshire Roast

    h2.heading-primary--sub A range of freshly roasted, ethically sourced coffee delivered direct to your door.

    a(href="#" class="btn") Get started!

  section.section-best-sellers

    h2.heading-section-title Best Sellers

    h3.heading-section--subtitle Take a look at some of our best selling coffees!

    .container
      each product in productInfo
        .product
          .inner
            .product__photo
              img(src=product.photos[0], alt=product.name class="product__photo")
            .product__info
              h3.product__title #{product.name}
              h4.product__description--short #{product.shortDescription}
              .product__reviews 
                span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
                span.product__reviews__number (17 reviews)
              h3.product__price #{product.price.smallBag.toLocaleString('en-GB', { style: 'currency', currency: 'GBP' })}
              a.btn.btn__storecard.btn__storecard--info(href=`/menu/${product.slug}`) Learn More
              a.btn.btn__storecard.btn__storecard--buy(href=`/menu/${product.slug}`) Buy Now
      
    p.paragraph--inverted.u-mart-md 
      a.btn.btn--inverted(href="/menu") See our full menu

  section.section-learn-more

    h2.heading-section-title.u-marbo-md Learn More

    .container

      .learn-stuff
        h3.heading-section--subtitle.u-marbo-sm Ethically Sourced
        i.far.fa-handshake.fa-5x.u-marbo-sm
        p.paragraph.paragraph--inverted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ipsam suscipit laudantium error vitae laborum in dicta! Impedit eos inventore cupiditate dicta commodi voluptates quas quo nulla, similique temporibus ipsum!

      .learn-stuff
        h3.heading-section--subtitle.u-marbo-sm Premium Quality
        i.fas.fa-certificate.fa-5x.u-marbo-sm
        p.paragraph.paragraph--inverted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ipsam suscipit laudantium error vitae laborum in dicta! Impedit eos inventore cupiditate dicta commodi voluptates quas quo nulla, similique temporibus ipsum!

      .learn-stuff
        h3.heading-section--subtitle.u-marbo-sm Freshly Roasted &bnsp; Delivered
        i.fas.fa-truck.fa-5x.u-marbo-sm
        p.paragraph.paragraph--inverted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ipsam suscipit laudantium error vitae laborum in dicta! Impedit eos inventore cupiditate dicta commodi voluptates quas quo nulla, similique temporibus ipsum!

    p.paragraph--inverted.u-mart-md 
      a.btn.btn--inverted(href="#") Read more about what we do

  section.section-testimonials

    h2.heading-section-title.u-marbo-md What our customers think...

    .container

      .testimonial
        .testimonial__head
          h3.testimonial__title Absolutely delicious!
          .testimonial__rating 
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x

        .testimonial__body
          .testimonial_review
            p.paragraph.paragraph--inverted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit tempore asperiores reprehenderit quae mollitia voluptatum corrupti nisi culpa vel quas aut ullam aperiam aspernatur optio quibusdam, iste placeat libero dolor?

        .testimonial__foot
          .testimonial__photo
            img(src="images/me.jpg", alt="Liam Whittaker" class="testimonial__photo--user")
          h4.testimonial__name Liam Whittaker, 
          h5.testimonial__date 6th September 2420

      .testimonial
        .testimonial__head
          h3.testimonial__title Absolutely delicious!
          .testimonial__rating 
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x
            i.fas.fa-star.fa-2x

        .testimonial__body
          .testimonial_review
            p.paragraph.paragraph--inverted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit tempore asperiores reprehenderit quae mollitia voluptatum corrupti nisi culpa vel quas aut ullam aperiam aspernatur optio quibusdam, iste placeat libero dolor?

        .testimonial__foot
          .testimonial__photo
            img(src="images/me.jpg", alt="Liam Whittaker" class="testimonial__photo--user")
          h4.testimonial__name Liam Whittaker, 
          h5.testimonial__date 6th September 2420

      
    p.paragraph--inverted.u-mart-md 
      a.btn.btn--inverted(href="#") See more reviews


      